<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p><em>unknown (most likely 25)</em></p>
  <p><img class="pic" src="images/bill-newman.jpg" /</p>
  <p>Net worth: 1 trillion USD</p>
  <p>Bill Newman is known as one of the best instructors in the world. He is known to be a full-stack master developer, specializing in HTML, Java, and Javascript. Also famously known for his greatest strength: puns!</p>
<%- include('../partials/footer') %>