<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p><em>50 years old</em></p>
  <p><img class="pic" src="images/elon-musk.jpg" /</p>
  <p>Net worth: 221.1 billion USD</p>
  <p>Elon Reeve Musk FRS is an entrepreneur and business magnate. He is the founder, CEO, and Chief Engineer at SpaceX; early-stage investor, CEO, and Product Architect of Tesla, Inc.; founder of The Boring Company; and co-founder of Neuralink and OpenAI.</p>
<%- include('../partials/footer') %>