<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>This Node.js website utilizes Express.js and EJS templates to showcase a few of the top modern tech leaders.</p>
  <p>Technology!</p>
  <p><img class="pic" src="images/home.jpg" /</p>
  <p>Most influential (and inspirational) modern tech leaders.</p>
<%- include('../partials/footer') %>