<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p><em>37 years old</em></p>
  <p><img class="pic" src="images/mark-zuckerberg.jpg" /</p>
  <p>Net worth: 67.3 billion USD</p>
  <p>Mark Elliot Zuckerberg is an American media magnate, internet entrepreneur, and philanthropist. He is known for co-founding the social media website Facebook and its parent company Meta Platforms, of which he is the chairman, chief executive officer, and controlling shareholder.</p>
<%- include('../partials/footer') %>