<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p><em>Deceased</em></p>
  <p><img class="pic" src="images/steve-jobs.jpg" /</p>
  <p>Net worth: $45 billion USD</p>
  <p>Steve Jobs was a charismatic pioneer of the personal computer era. With Steve Wozniak, Jobs founded Apple Inc. in 1976 and transformed the company into a world leader in telecommunications. Widely considered a visionary and a genius, he oversaw the launch of such revolutionary products as the iPod and the iPhone.</p>
<%- include('../partials/footer') %>